.bannerBg {
    background-color: var(--nc-d-ac-middle);
    padding: 1rem;
    color: #00f0ff;
}
.value, .center{
    text-align: center;
}
.logo {
    width: 10rem;
}
footer{
    max-width: 90rem;
}
.value h1{
    /*border: 1px solid var(--nc-bg-1);*/
    border-radius: 50%;
    margin: 1rem auto;
    padding: 2.3rem 1rem;
    width: 5rem;
    background-color: var(--vsl-bg);
}
@media screen and (min-width:48rem){
    header> :first-child{
        margin-top: auto;
        padding-top:0%;
        text-align: center;
    }
    header> :last-child{
        max-width: 80rem;
        margin: 10rem 0 -4rem 0;
    }
}

@media screen and (min-width:60rem){
    header> :first-child{
        margin-top: auto;
        margin-bottom: 4rem;
        padding-top:0%;
        text-align: center;
    }
    header> :last-child{
        max-width: 80rem;
        margin: 7 0 -2rem 0;
    }
    header h1{
        font-size: 3rem;
    }
}
/*IPAD*/
@media screen and (min-width:48rem){
    .landing {
        vertical-align: bottom;
    }
}
/*IPAD*/
@media screen and (min-width:60rem){
    .landing {
        vertical-align: bottom;
    }
}
