table caption {
	font-weight: bold;
	margin-bottom: .5rem;
	
}

table {
	/* border-collapse sets the table's elements to share borders, rather than floating as separate "boxes". */
	border-collapse: collapse;
	width: 100%
}
tfoot th{
	max-width: 100%;
	text-align: center;
}
@media screen and (min-width:37.5rem) {
	th {
		background: var(--table-bg);
}}
@media screen and (max-width:37.5rem) {
	table thead{
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}


	tr:nth-child(odd) {
		/* Set every other cell slightly darker. Improves readability. */
		background: var(--table-bg);
	}
	tr:nth-child(even) {
		/* Set every other cell slightly darker. Improves readability. */
		background: var(--nc-ac-1);
	}
	table tr{
		display: block;
	}
	table td{
		border-bottom: #dddd;
		display: block;
		text-align: right;
	}

	table td::before{
		content: attr(data-label);
		float: left;
		font-weight: 700;
	}
}
@media screen and (max-width:48rem) {
article, h6, dl{
	padding-left: 1.2rem;
	padding-right: .5rem;
}
}